@import 'tailwindcss';

p {
  text-indent: 1.5em;
}

h2 {
  @apply text-2xl font-bold mt-6 mb-4;
}

h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 8px;
}

h3 {
  @apply text-xl font-semibold mt-5 mb-3;
}

h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-top: 6px;
}